/* *{
  
   
} */
:root{
    --text-color:white;
    --background-color:#171717;
    --content-color:#0c0c0c;
    
}

body{
    background-color: var(--background-color);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/* #input{
    width: 500px;
} */
#main{
    background-color: var(--content-color);
    border-top-left-radius: 30px;

}
.card{
    background-color: grey;
}
.container-fluid{
    overflow-x: hidden;
}

.table{
    overflow: hidden;
}
@media screen and (max-width:472px){
    #nav{
        flex-direction: column;
        gap:10px;
    }
}



  

   

  